<ion-header>
  <ion-toolbar>
    <ion-title>Outbox</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

 

  <ion-list-header class="ion-padding-botton" color="Light">
    SENT CHAT
  </ion-list-header>

  <ion-item detail>
    <ion-avatar slot="start">
      <img [src]=" 'http://i.pravatar.cc/379' " />
    </ion-avatar>
    <ion-label>
      Leomel
      <p>
        <ion-text>
          Iloveyoutoo
        </ion-text>
      </p>
    </ion-label>
    <ion-text slot="end" color="medium">10:00 AM</ion-text>
  </ion-item>
  <ion-item detail>
    <ion-avatar slot="start">
      <img [src]=" 'http://i.pravatar.cc/380' " />
    </ion-avatar>
    <ion-label>
      leomel
      <p>
        <ion-text>
          Iloveyoutoo
        </ion-text>
      </p>
    </ion-label>
    <ion-text slot="end" color="medium">11:00 AM</ion-text>
  </ion-item>
  <ion-item detail>
    <ion-avatar slot="start">
      <img [src]=" 'http://i.pravatar.cc/381' " />
    </ion-avatar>
    <ion-label>
      Leomel
      <p>
        <ion-text>
          Iloveyoutoo
        </ion-text>
      </p>
    </ion-label>
    <ion-text slot="end" color="medium">12:00 PM</ion-text>
  </ion-item>
  <ion-item detail>
    <ion-avatar slot="start">
      <img [src]=" 'http://i.pravatar.cc/382' " />
    </ion-avatar>
    <ion-label>
      Leomel
      <p>
        <ion-text>
          Iloveyoutoo
        </ion-text>
      </p>
    </ion-label>
    <ion-text slot="end" color="medium">1:00 PM</ion-text>
  </ion-item>
  <ion-item detail>
    <ion-avatar slot="start">
      <img [src]=" 'http://i.pravatar.cc/383' " />
    </ion-avatar>
    <ion-label>
      Leomel
      <p>
        <ion-text>
          Iloveyoutoo
        </ion-text>
      </p>
    </ion-label>
    <ion-text slot="end" color="medium">2:00 PM</ion-text>
  </ion-item>
  <ion-item detail>
    <ion-avatar slot="start">
      <img [src]=" 'http://i.pravatar.cc/384' " />
    </ion-avatar>
    <ion-label>
      Leomel
      <p>
        <ion-text>
          Iloveyoutoo
        </ion-text>
      </p>
    </ion-label>
    <ion-text slot="end" color="medium">3:00 PM</ion-text>
  </ion-item>

</ion-content>