<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Signup</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear"size="full">Save info?</ion-button>
        <ion-button color="success" size="full" [routerLink]="['/page-content']" >Login</ion-button>
        <ion-button color="dark" fill="clear"size="full"[routerLink]="['/page-login']">Already have a account?</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>